@import '../../style/variables.scss';

.sidebar {
    min-width: 250px;
    height: 100%;
    padding: 20px 10px;
    border-right: 1px solid $border-color;

    &__title {
        margin-left: 10px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 24px;
    }

    &__group {
        margin-bottom: 30px;

        &-head {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

        &-title {
            margin-left: 15px;
            font-weight: 700;
            font-size: 16px;
        }

        &-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            
            svg {
                transition: .2s;
            }

            &:hover {
                svg {
                    fill: $main-color
                }
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        transition: .2s;

        &-icon {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-blur {
            color: gray;
        }

        &-focused, &:hover {
            opacity: 1;
            background-color: $border-color;
        }
    }
}

@media (max-width: 1000px) {
    .sidebar {
        position: fixed;
        right: calc(100%);
    }
}