@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.message-card {
    @include flow-card;

    &:hover {
        border-color: $message-card-accent;
    }

    &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1); /* Пример hover-эффекта */
    }
}