@import '../../../../style/variables.scss';

.message-card {
    &__text {
        position: relative;
        width: 100%;
        padding: 7px 15px;
        background-color: white;
        border: 1px solid $subwindow-border-color;
        border-radius: 10px;

        &:hover {
            border-color: $message-card-accent;
        }

        &-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: 1px solid $subwindow-border-color;
            border-radius: 10px;
            padding: 10px;
            width: 40px;
            height: 40px;

            &:hover {
                border-color: $message-card-accent;
            }

            &-wrapper {
                position: absolute;
                top: 0;
                left: -45px;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 45px;
                height: 38px;
            }
        }
    }

    &__quick-reply-btn {
        font-size: 14px;
        padding: 5px 10px;
        background-color: white;
        border: 1px solid $subwindow-border-color;
        border-radius: 10px;

        &:hover {
            border-color: $message-card-accent;
        }
    }
}