.navigation {
    width: 74px;
    
    &__logo {
        padding-bottom: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        
        img {
            max-width: 40px;
            opacity: 0.5;
        }
    }

    &__profile {
        cursor: pointer;
        background-color: rgb(188, 188, 188);
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

@media (max-width: 1000px) {
    .navigation {
        position: fixed;
        right: calc(100% + 250px);
    }
}